body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 700px;
  background: #fff;
  margin: 16px auto;
  padding: 16px
}

.title {
  background: #e3f4ff;
  margin :0px ;
}

.card * {
  padding: 14px 10px;
  margin-top: 14px;
}


.content, .button-container {
  background: #e3f4ff;
  padding: 20px 10px;
}
.content, .button-container, button {
  font-size: 28px;
}

.button-container  {
  text-align: center;
}

button {
  display: block; 
  background: white;
  border: 1px solid #eee;
  margin: auto;
  width: 200px
}
